<div data-never>{{ never | ec }}</div>

<div>{{ undefined | ec: [undefined] }}</div>

<div>{{ null | ec: [null] }}</div>

@switch (answer) {
  @case (Answer.Yes) {}
  @case (Answer.No) {}
  @case (Answer.Maybe) {}
  @default {
    <div>{{ answer | ec }}</div>
  }
}
@switch (answer) {
  @case (Answer.Yes) {}
  @default {
    <div>{{ answer | ec: [Answer.No, Answer.Maybe] }}</div>
  }
}

@switch (answer) {
  @case (Answer.Yes) {}
  @default {
    <!-- https://github.com/angular/angular/issues/39397 -->
    <!-- @ts-expect-error -->
    <!-- <div>{{ answer | ec: [Answer.No] }}</div> -->
  }
}
